.color-nav{
    background-color: #1d292f;
}

h1, h2, h3 {
    font-family: 'Lobster';
}

h1 {
    font-size: 4em;
}

h2, h3 {
    font-size: 2.5em;
}

p, li, button, table, a {
    font-family: 'Roboto';
}


.bg-dark{
    background-color: #106986 ;
    color:#40949F ;
    height: 100%;
    margin: 0;
    padding: 0; 
 }
 .content_wrapper{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    margin: auto;
  }  
  .sidebar{
    width: 25%;
    padding: 20px;
    background-color: #40949F;
    color: white;
  } 
  #cv_nico{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #60949F;
  }
  .bg-light{
    display:flex;
    background-color: #60949F;
    color: #60949F;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    border: 2px solid white;
  } 

  .m {
    margin-top: 3 !important;
    margin-bottom: 3;
  } 

.opacity-9 {
  opacity: .9;
}

  h2.bg-light{
    background-color: #40949F;
    border: none;
  }
  a{
    color: white;
  }
  .table th, .table td {
    color: #40949F;
  }
  
.btn-primary {
  background-color:#106986;
  border-color: #106986;
}

.btn-primary:hover {
  background-color: #3C5862;
  border-color: #3C5862;
}
.container1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10 px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.container1 h2 {
  margin-bottom: 10px;
}
.container1 p {
  line-height: 1.4;
}
.image-croissant {
  object-fit: cover;
  border-radius: 50%;
  float: left;
}
.image-triste-boulanger {
  object-fit: cover;
  border-radius: 50%;
  float: left;
  max-width: 300px;
}
.important-text{
  font-weight: bold;
  color: red;
}