.color-nav{
    background-color: #1d292f;
}

h1, h2, h3 {
    font-family: 'Lobster';
}

h1 {
    font-size: 4em;
}

h2, h3 {
    font-size: 2.5em;
}

p, li, button, table, a {
    font-family: 'Roboto';
}
