.color-nav{
    background-color: #1d292f;
}

h1, h2, h3 {
    font-family: 'Lobster';
}

h1 {
    font-size: 4em;
}

h2, h3 {
    font-size: 2.5em;
}

p, li, button, table, a {
    font-family: 'Roboto';
}


.bg-dark{
    background-color: #106986 ;
    color:#40949F ;
    height: 100%;
    margin: 0;
    padding: 0; 
  }
  .content_wrapper{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    width: 100%;
    min-height: 100vh;
  }
  .sidebar{
    width: 25%;
    padding: 20px;
    background-color: #40949F;
    color: white;
  }
  #cv_nico{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bg-light{
    background-color: #60949F;
    color: #40949F;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
  }
  .m {
    margin-top: 3 !important;
    margin-bottom: 3;
  }